@font-face {
    font-family: 'Aleo';
    src: url('Aleo-Regular.woff2') format('woff2'),
        url('Aleo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Domine';
    src: url('Domine-Regular.woff2') format('woff2'),
        url('Domine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR styling/typesetting CSS code BELOW HERE */

* {
  font-size: 0.625rem;
}

h1 {
  font-family: "Aleo";
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1.5px;
}

h2 {
  font-family: "Aleo";
  font-size: 1rem;
  letter-spacing: 0.75px;
}

p {
  font-family: "Domine";
  line-height: 1.5;
  letter-spacing: 0.25px;
  word-spacing: 1px;
  
}

section h2 + p {
  text-indent: 1.25rem;
}

a {
  color: #844;
  text-decoration: underline solid;
  outline: none;
}

a:visited {
  color: #f35;
}

a:focus {
  color: #e44;
  text-decoration: none;
}

a:hover {
  color: #e65;
  text-decoration: none;
}

a:active {
  color: #f45;
  text-shadow: #f45 0 0 0.1rem;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  margin-left: 0.1rem;
  background-size: 100%;
  background-image: url("external-link-52.png");
}

ul, ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

ul {
  list-style-image: url("bullet-point.svg")
}

li {
  font-family: "Domine";
  line-height: 1.5;
}

nav ul {
  list-style-image: none;
  list-style-type: none;
}

nav ul li {
  border: solid #a66;
  
  text-align: center;
  line-height: 2rem;
  margin-top: 1rem;
}

nav ul li a {
  color: #955;
  text-decoration: none;
  font-size: 1.5rem;
}

nav ul li a:visited {
  color: #955;
}

nav ul li a:active {
  color: #955;
  text-shadow: #955 0 0 0.15rem;
}

nav ul li a:focus {
  color: #744;
}

nav ul li a:hover {
  color: #c88;
}